{% extends 'base.html.twig' %}

{% block title %}Crypto Tracker - graphs{% endblock %}

{% block body %}
    <div class="row border-bottom border-light mb-5 mt-5">
            <h1 class="text-center" name="titre">Vos gains</h1>
    </div>
    <div class="row col-9 mx-auto">

    {{ render_chart(chart) }}
    </div>
{% endblock %}
